.sectionHeader {
    display: flex;
    align-items: center;
    gap: 2.4rem;
    margin-bottom: 2.4rem;
}

.title {
    font-weight: 900;
    text-align: end;

    span {
        color: #2563eb; /* blue-600 */
    }

    @media (max-width: 768px) {
        font-size: var(--text-lg);
    }
}

.line {
    width: 100%;
    height: 1px;
    background: #2563eb; /* blue-600 */
    opacity: 0.3;
}